@tailwind base;
@tailwind components;
@tailwind utilities;
pre {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 30px;
}

@media screen and (min-width: 320px) and (max-width: 425px)  {
    pre {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}