@tailwind base;
@tailwind components;
@tailwind utilities;
pre {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

p{
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
	font-size: 30px;
    padding: auto;
    line-height: 75px;
    border-bottom: 1px solid black;
}

h2 {
	font-size: 30px;
    padding: auto;
    line-height: 75px;
}

@media screen and (min-width: 320px) and (max-width: 425px)  {
    pre {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}